.title{
    color: $colorWarning;
    font-weight: bold;
    text-shadow: 3px 3px $colorPrimary;
    
    &--lg{
        font-size: 5rem;
    }

    &--md{
        font-size: 4rem;
    }

    &--sm{
        font-size: 3rem;
    }


    // taille mobile

    @media all and (max-width:320px){
        &--md{
            font-size: 3rem;
        }
    }

}