.hero{
    background-color: $colorSecondary;
    margin-top: 0;
    height: 500px;
    
    display: grid;
    align-items: center;

    h1{
        font-size: 3rem;
        font-weight: bold;
    }

    a{
        color: $colorWarning;
    }

}



.films-home{
}